/hw-netbeans/aw-hw5-swing-intro/nbproject/private/
/hw-netbeans/aw-hw5-swing-intro/build/
/hw-netbeans/aw-hw6-linked-list/nbproject/private/
/hw-netbeans/aw-hw6-linked-list/build/
/hw-netbeans/aw-hw7-stack-list/nbproject/private/
/hw-netbeans/aw-hw7-stack-list/build/
/hw-netbeans/aw-hw7-stack-list/dist/
/hw-netbeans/aw-hw5d-inheritance/nbproject/private/
/hw-netbeans/aw-hw5d-inheritance/build/
/hw-netbeans/aw-hw5d-inheritance/dist/
/hw-netbeans/aw-hw5e-polymorphism/nbproject/private/
/hw-netbeans/aw-hw5e-polymorphism/build/
/hw-netbeans/aw-hw5a-swing-intro/dist/

*.class
*.xml
*.properties

/hw-netbeans/aw-hw5b-linked-list/build/
/hw-netbeans/aw-hw5c-stack-list/build/